.TokenDropDownContainer {
  position: absolute;
  bottom: 0;
  left: 22%;

  display: flex;
  flex-direction: column;

  visibility: hidden;

  background: radial-gradient(
      65.74% 450.2% at 0% 100%,
      rgba(18, 156, 255, 0.2) 0%,
      rgba(18, 156, 255, 0) 100%
    ),
    rgb(14, 34, 60);
  backdrop-filter: blur(56px);
  box-sizing: border-box;
  box-shadow: rgb(0 7 17 / 40%) 0px 6px 32px;

  margin-top: 20px;
  padding: 0 32px 36px 32px;
  border-radius: 24px;
  transform: translateY(106%);
}

.token-item {
  cursor: pointer;
  min-width: 265px;
  box-sizing: border-box;
  margin: 11px 0px;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  border: unset;
  border-radius: 32px;
  display: flex;
}

.token-item > div {
  box-sizing: border-box;
  margin: 0;
  width: 24px;
  height: 24px;
}

.token-item > p {
  padding-left: 12px;
  font-size: 20px;
  margin-top: -5px;
  transform: translateY(5px);
}
